*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

:root {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
