:root {
  color: var(--text-color);
  background-color: var(--surface-1);
}

* {
  outline-color: var(--accent-color);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5em;
}

textarea {
  border-radius: 4px;
  background: var(--surface-2);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--accent-text);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline-offset: 4px;
}

#error-display {
  margin: 0;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-block-end: 16px;
}

.name {
  font-size: 2em;
  font-weight: 700;
}
